html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #193847;
}

p {
  font-size: 20px;
  font-family: Palatino, 'Palatino LT STD', 'Palatino Linotype', 'Book Antiqua',
    Georgia, serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

select {
  text-align: center;
  width: 50%;
  height: 5%;
  background-color: #a9b4c7;
  appearance: none;
}

.wrapper {
  text-align: center;
  height: 75%;
  width: 60%;
  background-color: #a9bdc7;
  border-radius: 4%;
  box-shadow: 0;
  transition: box-shadow 2s ease;
  overflow: auto;
  -ms-overflow-style: none;
}

.wrapper:hover {
  box-shadow: 10px 10px 15px #475d69;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.inner {
  padding: 30px;
  height: 90%;
  width: 90%;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading {
  font-size: 40px;
  font-family: Palatino, 'Palatino LT STD', 'Palatino Linotype', 'Book Antiqua',
    Georgia, serif;
  text-align: center;
  color: #a9bdc7;
  text-shadow: 0 0 5px #475d69;
}
